<ng-container *ngIf="task$.completed as boolean; then completed; else notCompleted">
</ng-container>
<ng-template #completed>
  <div class="card border-success mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <h5>{{ task$.createdOn }}</h5>
    </div>
    <div class="card-body text-success">
      <h6 class="card-title">ID: {{ task$.id }}</h6>
      <form>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <textarea [(ngModel)]="newTitle$" [ngClass]="{'is-valid' : updated$}" [ngModelOptions]="{standalone: true}"
            class="form-control completed" value="{{ task$.title }}" rows="5"></textarea>
          <div class="valid-feedback">
            Task Successfully Updated!
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-secondary m-1" (click)="updateTask()">Update</button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteTask()">Delete</button>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="task$.completed" [ngModelOptions]="{standalone: true}"
          (click)="toggleComplete()">
        <label class="form-check-label m-1">Completed?</label>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notCompleted>
  <div class="card border-danger mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <h5>{{ task$.createdOn }}</h5>
    </div>
    <div class="card-body text-danger">
      <h6 class="card-title">ID: {{ task$.id }}</h6>
      <form>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <textarea [(ngModel)]="newTitle$" [ngClass]="{'is-valid' : updated$}" [ngModelOptions]="{standalone: true}"
            class="form-control uncompleted" value="{{ task$.title }}" rows="5"></textarea>
            <div class="valid-feedback">
                Task Successfully Updated!
            </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-secondary m-1" (click)="updateTask()">Update</button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteTask()">Delete</button>
      <div class="form-check">
        <input type="checkbox" [(ngModel)]="task$.completed" [ngModelOptions]="{standalone: true}"
          (click)="toggleComplete()">
        <label class="form-check-label m-1">Completed?</label>
      </div>
    </div>
  </div>
</ng-template>
